<div class="cart-card">
    <span style="font-size: 16px; font-weight: 600;">
        Items added to the cart:
    </span>
    <hr>
    <div class="row">
        <div class="col-12" *ngFor="let obj of cartList">
            <div class="row">
                <div class="col-11 mt-1">
                    <span style="font-size: 18px; font-weight: 500;">
                        {{obj.name}}
                    </span>
                </div>
                <div class="col-1 mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px"  style="cursor: pointer;" (click)="decreaseCount(obj)" viewBox="0 -960 960 960" width="24px"
                    fill="#5f6368">
                    <path
                        d="M280-440h400v-80H280v80ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z" />
                </svg>
                <span style="font-size: 14px; font-weight: 600; color: black;" class="mt-4">
                    {{obj.quantity}}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" style="cursor: pointer;" (click)="increaseCount(obj)" viewBox="0 -960 960 960" width="24px"
                    fill="#5f6368">
                    <path
                        d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z" />
                </svg>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" src="https://yt3.googleusercontent.com/YnrIWet65YxJQJlwlXI33E5r22UzWWHYGoL4Jtx_V2pvdbyhgLN1SAASnFOGZ4CuKjBNZjMFTQ=s900-c-k-c0x00ffffff-no-rj" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 200/-</s>
            <span style="color: green;">Rs 179/-</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvyY9h2MT3h0_qEukV3jQ1pNe__osgG0h4Pw&s" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 200/-</s>
            <span style="color: green;">Rs 165/-</span>
        </div>
    </div>
</div>
<button mat-raised-button style="background-color: orange; float: right;" class="mt-2">Checkout</button>