<div class="cart-card">
    <span style="font-size: 16px; font-weight: 600;">
        Items added to the cart:
    </span>
    <hr>
    <div class="row">
        <div class="col-12" *ngFor="let obj of cartList">
            <div class="row">
                <div class="col-11 mt-1">
                    <span style="font-size: 18px; font-weight: 500;">
                        {{obj.name}}
                    </span>
                </div>
                <div class="col-1 mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px"  style="cursor: pointer;" (click)="decreaseCount(obj)" viewBox="0 -960 960 960" width="24px"
                    fill="#5f6368">
                    <path
                        d="M280-440h400v-80H280v80ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z" />
                </svg>
                <span style="font-size: 14px; font-weight: 600; color: black;" class="mt-4">
                    {{obj.quantity}}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" style="cursor: pointer;" (click)="increaseCount(obj)" viewBox="0 -960 960 960" width="24px"
                    fill="#5f6368">
                    <path
                        d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z" />
                </svg>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="storesList[0]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[0].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 395/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[0]">
    <div class="row" *ngIf="storesList[1]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[1].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 425/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[1]">
    <div class="row" *ngIf="storesList[2]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[2].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 356/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[2]">

    <div class="row" *ngIf="storesList[3]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[3].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 399/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[3]">

    <div class="row" *ngIf="storesList[4]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[4].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 490/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[4]">

    <div class="row" *ngIf="storesList[5]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[5].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 421/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[5]">

    <div class="row" *ngIf="storesList[6]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[6].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 256/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[6]">

    <div class="row" *ngIf="storesList[7]">
        <div class="col-1" style="height: 100px; display: flex; align-items: center;">
            <mat-radio-button value="1">
            </mat-radio-button>
        </div>
        <div class="col-4">
            <img width="100px" height="100px" [src]="storesList[7].logo" alt="">
        </div>
        <div class="col-7" style="text-align: end; font-size: 20px; height: 100px; display: flex; align-items: center;">
            <s style="color: red;" class="me-2">Rs 495/-</s>
            <span style="color: green;">Rs 426/-</span>
        </div>
    </div>
    <hr *ngIf="storesList[7]">
</div>
<button mat-raised-button style="background-color: orange; float: right;" class="mt-2"><a href="https://rzp.io/l/DfXFU8L">Checkout</a></button>