h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    padding-top: 60px;

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 50px;
    }
}

mat-sidenav-content {
    padding-top: 3.5rem;

    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.expanded {
    width: 290px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 40.5px;
    margin-top: 120px;
}