<form [formGroup]="homeForm">
    <mat-form-field appearance="outline" class="mt-3 w-100 me-1">
        <mat-label>Enter your phone number</mat-label>
        <input matInput type="text" maxlength="10" style="font-size: 20px" formControlName="home">
        <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
            width="24px" fill="#000">
            <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
        </svg>
        <!-- <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm200 100q17 0 28.5-11.5T520-180q0-17-11.5-28.5T480-220q-17 0-28.5 11.5T440-180q0 17 11.5 28.5T480-140ZM280-320h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"/></svg> -->
        <!-- <mat-hint style="color: red" *ngIf="submitted && loginForm.controls['phoneNumber'].errors && loginForm.controls['phoneNumber'].errors['required']">Please enter your phone number</mat-hint> -->
    </mat-form-field>
</form>

<div class="row">
    <div class="item-card col-3 ms-1 me-1 mb-1 mt-1" *ngFor="let obj of productList">
        <div class="">
            <div class="mt-1 ms-2 me-2" style="width: 225px; height: 150px;">
                <img width="100%" height="150px" *ngIf="obj.image === ''"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEaYTaC-q-QWUu2g7QgVvRKkJkqXjXtjBU2w&s"
                    alt="">
                <img width="100%" *ngIf="obj.image != ''" [src]="obj.image" alt="">
            </div>
            <div>
                <span style="font-size: 12px; font-weight: 500; color: gray;">
                    {{obj.brand}}
                </span>
            </div>
            <div style="height: 60px;">
                <span style="font-size: 20px; font-weight: 600; color: black;" class="mt-4">
                    {{obj.name}}
                </span>
            </div>
            <div>
                <span style="font-size: 14px; font-weight: 600; color: black;" class="mt-4">
                    {{obj.size}}
                </span>
            </div>
            <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#5f6368">
                        <path
                            d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z" />
                    </svg> 
                <span style="font-size: 14px; font-weight: 600; color: black;" class="mt-4">
                    {{obj.quantity}}
                </span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M280-440h400v-80H280v80ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>

            </div>
        </div>
    </div>
</div>