<div class="background">
    <!-- Logo -->
    <img src="assets/images/logo-and-name.png" class="logo">

    <!-- Register form -->
    <div class="login-form-container">
        <form [formGroup]="registerForm">
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="mt-3 w-80 ms-1 me-1">
                        <mat-label>Enter your name</mat-label>
                        <input matInput type="text" style="font-size: 20px" formControlName="name" (input)="submitted = false">
                        <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M563-491q73-54 114-118.5T718-738q0-32-10.5-47T679-800q-47 0-83 79.5T560-541q0 14 .5 26.5T563-491ZM120-120v-80h80v80h-80Zm160 0v-80h80v80h-80Zm160 0v-80h80v80h-80Zm160 0v-80h80v80h-80Zm160 0v-80h80v80h-80ZM136-280l-56-56 64-64-64-64 56-56 64 64 64-64 56 56-64 64 64 64-56 56-64-64-64 64Zm482-40q-30 0-55-11.5T520-369q-25 14-51.5 25T414-322l-28-75q28-10 53.5-21.5T489-443q-5-22-7.5-48t-2.5-56q0-144 57-238.5T679-880q52 0 85 38.5T797-734q0 86-54.5 170T591-413q7 7 14.5 10.5T621-399q26 0 60.5-33t62.5-87l73 34q-7 17-11 41t1 42q10-5 23.5-17t27.5-30l63 49q-26 36-60 58t-63 22q-21 0-37.5-12.5T733-371q-28 25-57 38t-58 13Z"/></svg>
                        <mat-hint style="color: red" *ngIf="submitted && registerForm.controls['name'].errors && registerForm.controls['name'].errors['required']">Please enter your name</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-80 ms-1 me-1">
                        <mat-label>Enter your phone number</mat-label>
                        <input matInput type="text" type="font-size: 20px" formControlName="phone" (input)="submitted = false">
                        <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm200 100q17 0 28.5-11.5T520-180q0-17-11.5-28.5T480-220q-17 0-28.5 11.5T440-180q0 17 11.5 28.5T480-140ZM280-320h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"/></svg>
                        <mat-hint style="color: red" *ngIf="submitted && registerForm.controls['phone'].errors && registerForm.controls['phone'].errors['required']">Please enter your phone number</mat-hint>
                    </mat-form-field>
                </div>                
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-80 ms-1 me-1">
                        <mat-label>Enter your email</mat-label>
                        <input matInput type="text" type="font-size: 20px" formControlName="email" (input)="submitted = false">
                        <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v58q0 59-40.5 100.5T740-280q-35 0-66-15t-52-43q-29 29-65.5 43.5T480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480v58q0 26 17 44t43 18q26 0 43-18t17-44v-58q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93h200v80H480Zm0-280q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z"/></svg>
                        <mat-hint style="color: red" *ngIf="submitted && registerForm.controls['email'].errors && registerForm.controls['email'].errors['required']">Please enter your email</mat-hint>
                    </mat-form-field>
                </div>                
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-80 ms-1 me-1">
                        <mat-label>Enter your pin</mat-label>
                        <input matInput type="text" type="font-size: 20px" formControlName="pin" (input)="submitted = false">
                        <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M240-640h360v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85h-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640Zm0 480h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM240-160v-400 400Z"/></svg>
                        <mat-hint style="color: red" *ngIf="submitted && registerForm.controls['pin'].errors && registerForm.controls['pin'].errors['required']">Please enter your pin</mat-hint>
                    </mat-form-field>
                </div>                
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-80 ms-1 me-1">
                        <mat-label>Confirm your pin</mat-label>
                        <input matInput type="text" type="font-size: 20px" formControlName="confirmPin" (input)="submitted = false">
                        <svg matPrefix style="margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M240-640h360v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85h-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640Zm0 480h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM240-160v-400 400Z"/></svg>
                        <mat-hint style="color: red" *ngIf="submitted && registerForm.controls['confirmPin'].errors && registerForm.controls['confirmPin'].errors['required']">Please re-enter your pin</mat-hint>
                    </mat-form-field>
                </div>
                
                <div class="col-12">
                    <button mat-raised-button style="background-color: orange;" (click)="register()">Register</button>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-5"><hr></div>
                        <div class="col-2 mt-1">OR</div>
                        <div class="col-5"><hr></div>
                    </div>
                </div>
                <div class="col-12">
                    <button mat-raised-button style="background-color: orange;" class="mt-1" (click)="signIn()">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>